body {
    background-color: #ddd;
    padding: 20px;
    margin: 0px;
    /* width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* border-color: red;
    border-width: 10px;
    border-style: solid; */
    /* border: red 10px solid;
    outline: blue 10px solid; */
    /* background-color: rgb(red, green, blue);
    background-image: url("../images/EZRK2748.JPG"); */
    /* background-attachment: scroll; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
}

h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
    line-height: 15px;
    color: rgb(56, 52, 52);
}

mark {
    background-color: rgb(209, 161, 97)
}

del {
    color: red;
}

.a {
    color: green;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 25px;
}

img {
    border: #d19e9e;
    padding: 20px;
    margin: 25 0 25 0;
    display: block;
    width: 70;
    margin-left: auto;
    margin-right: auto;
}

#y {
    background-color: #ffffff;
    padding: 20px;
}

li {
    margin: 5px;
}

#x {
    margin-left: 10px;
    background-color: coral;
}

#z {
    border: 25;
    padding: 100;
    background-color: brown;
}

dt {
    font-weight: bold;
    color: rgb(212, 199, 199);
    margin-left: 15px;
}

dd {
    margin-left: 50px;
}