* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* border-color: red;
    border-width: 10px;
    border-style: solid; */
    /* border: red 10px solid;
    outline: blue 10px solid; */
    /* background-color: rgb(red, green, blue);
    background-image: url("../images/EZRK2748.JPG"); */
    /* background-attachment: scroll; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
}

h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
    line-height: 15px;
    color: rgb(56, 52, 52);
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.parent {
    width: 600px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
}

.f {
    background-color: #eee;
    width: 300px;
    height: 100px;
    /* transition-duration: 2s;
    transition-delay: 1s;
    transition-property: width;
    transition-timing-function: ease; */
    /* float: left;
    padding: 10px; */
    /* border: 10px solid green; */
    /* box-sizing: border-box; */
}

.f:hover {
    margin-left: 20px;
    width: 200px;
}

#w {
    color: white;
    text-align: center;
    background-color: #c5a5a5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px #0c0808;
}

mark {
    background-color: rgb(209, 161, 97)
}

del {
    color: red;
}

.a {
    color: green;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
    width: 150px;
    margin: 20px;
    padding: 10px;
    background-color: black;
    text-align: center;
}

a:hover {
    background-color: red;
}

img {
    border: #d19e9e;
    padding: 20px;
    margin: 25 0 25 0;
    display: block;
    width: 70;
    margin-left: auto;
    margin-right: auto;
}

#y {
    background-color: #ffffff;
    padding: 20px;
    /* list-style: none;
    position: relative; */
}

/* #x ::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* margin-top: 9px;
    padding: 3px; */
/* border-style: solid;
    border-color: red; */
/* } */

*/ li {
    margin: 5px;
}

#x {
    margin-left: 10px;
    background-color: coral;
    list-style: none;
    position: relative;
}

#x li {
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 15px solid black;
    margin-top: 8px;
}

#z {
    border: 25;
    padding: 100;
    background-color: brown;
}

dt {
    font-weight: bold;
    color: rgb(212, 199, 199);
    margin-left: 15px;
}

dd {
    margin-left: 50px;
}

.container {
    margin: 40px auto;
    width: 200px;
    perspective: 600px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

.box:hover {
    transform: translateX(-100%) rotateY(-180deg);

}

.box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    backface-visibility: hidden;
}

.box .front {
    background-color: red;
}

.box .back {
    background-color: green;
    transform: rotateY(180deg);
}

.one {
    width: 100px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    margin-left: -137%;
    margin-top: -21%;
    border-radius: 50%;
    border: #b1aaaa 5px solid;
    border-left-color: transparent;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.parent {
    background-color: black;
    width: 100%;
    height: 400px;
}

.load {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.load div {
    width: 20px;
    height: 20px;
    background-color: rgb(185, 60, 181);
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load .two {
    animation-delay: 0.3s;
}

.load .three {
    animation-delay: 0.6s;
}

@keyframes up-and-down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
        transform: translateY(-20px);
    }
}